@media only screen and (max-width: 1500px){
	.banner-image{
		height: 600px;
	}
}

@media only screen and (max-width: 1000px){
	.banner-image{
		height: 500px;
	}
}

@media only screen and (max-width: 800px){
	.banner-image{
		height: 400px;
	}
}
@media only screen and (max-width: 600px){
	.banner-image{
		height: 300px;
	}
	.inner-navbar{
		flex-direction: column;
	}
}
@media only screen and (max-width: 802px){
	.menu{
		padding: 5px 8px;
	}
	.container{

	display:flex;
	flex-direction: column;
	

	}
	.items{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:15px;

	}
	.items:hover{
	width:94%;
	

	}
	
}

@media only screen and (max-width: 680px){
	
	.menu{
		font-size: 15px;
	}
	
}

@media only screen and (max-width: 468px){
	
	.search-ok{
		display:block;
		display: none;

	}
	
}

@media only screen and (max-width: 468px){
	
	.logo{
		clear:left;
		margin-left:40%;
		
		


	}
	
}

@media only screen and (max-width: 834px){
	
	#connect h1{
	font-size: 20px;
	}
	#privacy a{
		font-size: 20px;
	}
	
}


@media only screen and (max-width: 739px){
	
	#footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	margin-top: 5px;
	}

	#foll p{
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		font-size:15px;
	}

	#foll img{
		margin-top:5px;
	}

	

}
