/*header*/
@media only screen and (max-width: 600px){
	
	.inner-navbar{
		flex-direction: column;
	}
}
@media only screen and (max-width: 802px){
	.menu{
		padding: 5px 8px;
	}
	
}

@media only screen and (max-width: 680px){
	
	.menu{
		font-size: 15px;
	}
	
}

@media only screen and (max-width: 468px){
	
	.search-ok{
		display:block;
		display: none;

	}
	
}

@media only screen and (max-width: 468px){
	
	.logo{
		clear:left;
		margin-left:40%;
		
		


	}
	
}
/*content*/

@media (max-width: 420px){
	.wrapper .form .input_field{
		flex-direction: column;
		align-items: flex-start;
	}

	.wrapper .form .input_field{
		margin-bottom: 5px;
	}

	.wrapper .form .input_field .terms{
		flex-direction: row;
	}
}
/*footer*/

@media only screen and (max-width: 834px){
	
	#connect h1{
	font-size: 20px;
	}
	#privacy a{
		font-size: 20px;
	}
	
}


@media only screen and (max-width: 739px){
	
	#footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	margin-top: 5px;
	}

	#foll p{
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		font-size:15px;
	}

	#foll img{
		margin-top:5px;
	}

	

}