@media only screen and (max-width: 600px){
	.inner-navbar{
		flex-direction: column;
	}
}

@media only screen and (max-width: 802px){
	.menu{
		padding: 5px 8px;
	}
}

@media only screen and (max-width: 680px){
	
	.menu{
		font-size: 15px;
	}
	
}

@media only screen and (max-width: 468px){
	
	.search-ok{
		display:block;
		display: none;

	}
	
}

@media only screen and (max-width: 468px){
	
	.logo{
		clear:left;
		margin-left:40%;
		
		


	}
	
}

/**/
@media only screen and (max-width: 769px){
	
	.jumbo-inner h1{
	font-size: 40px;
	border-bottom:2px solid black;  
	}
	
}

@media only screen and (max-width: 675px){
	
	.jumbo-inner{
	padding-top:50px 
	}
	
}
@media only screen and (max-width: 654px){
	
	.jumbo-inner{
	
	height:75%;
	}
	
}
@media only screen and (max-width: 556px){
	
	.jumbo-inner{
	padding-left:40px ;
	padding-right:40px ;
	

	}
	
}
@media only screen and (max-width: 368px){
	
	.jumbo-inner{
	padding-top:20px 
	}
	.jumbo-inner h1{
	font-size: 30px;
	 
	}
	
}
@media only screen and (max-width: 336px){
	
	.jumbo-inner{
	padding-left:30px ;
	padding-right:30px ;
	

	}
	
}


/**/

@media only screen and (max-width: 834px){
	
	#connect h1{
	font-size: 20px;
	}
	#privacy a{
		font-size: 20px;
	}
	
}


@media only screen and (max-width: 739px){
	
	#footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	margin-top: 5px;
	}

	#foll p{
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		font-size:15px;
	}

	#foll img{
		margin-top:5px;
	}

	

}